.gallery-view {
  // nothing
}

.gallery-view__scroll {
  overflow-y: scroll;
  z-index: 1;

  @include absolute(0);
}

.gallery-view__add {
  border: solid 1px $color-neutral-400;
  background: $white;
  border-radius: 100%;
  color: $color-primary-900;
  box-shadow: 3px 0 6px 0 rgba($black, 0.16);
  z-index: 2;

  @include center-text(40px, 18px);
  @include absolute(auto, 20px, 20px, auto);

  &:hover {
    background-color: $color-neutral-100;
    text-decoration: none;
  }
}

.gallery-view__cards {
  display: flex;
  flex-wrap: wrap;
  padding: 0 $gallery-view-gutter $gallery-view-gutter $gallery-view-gutter;
}

.gallery-view__card {
  margin-top: $gallery-view-gutter;

  @for $i from 1 through 20 {
    .gallery-view__cards--#{$i}-per-row & {
      width: calc(100% / #{$i} - #{$gallery-view-gutter / $i * ($i - 1)});

      &:not(:nth-child(#{$i}n+#{$i})) {
        margin-right: 30px;
      }
    }
  }
}
